body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('asset/ai_art_generator_primary.jpg');
    background-size: cover; /* Menyesuaikan ukuran gambar dengan ukuran window */
    background-repeat: no-repeat; /* Menghindari pengulangan gambar */
    background-attachment: fixed; /* Memastikan gambar tetap di posisi tetap saat menggulir */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(6, 229, 65, 0.95);
    
}

h1 {
    text-align: center;
    color: #333;
}

p {
    margin-bottom: 10px;
    color: #666;
}

.restaurant {
    margin-bottom: 20px;
}

.restaurant h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.restaurant img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.restaurant p {
    line-height: 1.5;
}

.restaurant {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}


